@font-face {
  font-family: "BaronNeue";
  src: url(../assets/fonts/baronneue-webfont.woff); }

@font-face {
  font-family: "A1 Mincho";
  src: url(../assets/fonts/A1MinchoStd-Bold.otf); }

.clear {
  clear: both; }

.btn-a {
  font-size: 1.6rem;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 254px;
  height: 57px;
  color: white;
  text-align: center;
  background-image: linear-gradient(to right, #f1ce38, #98bd58);
  transition: all 0.5s;
  background-size: 100%; }
  .btn-a:hover {
    background-size: 200%; }

.btn-auto {
  margin-left: auto;
  margin-right: auto; }

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 132px; }
  .header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 312px;
    background-color: white; }
  .header .menu-right {
    display: flex;
    justify-content: flex-end; }
    .header .menu-right .entry {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      background-color: #3a9ede; }
      .header .menu-right .entry .text {
        text-align: center; }
        .header .menu-right .entry .text span:last-of-type {
          font-family: "BaronNeue"; }
        .header .menu-right .entry .text span {
          display: block;
          font-size: 2.5rem;
          color: white;
          line-height: 30px;
          font-weight: bold; }
    .header .menu-right .entry-2 {
      background-color: #277fc4; }
    .header .menu-right .menu-ul {
      width: 132px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      .header .menu-right .menu-ul .span-line {
        width: 46px;
        height: 29px;
        position: relative;
        z-index: 1000; }
        .header .menu-right .menu-ul .span-line span {
          position: absolute;
          top: 50%;
          width: 100%;
          height: 2px;
          background-color: #0148c3;
          transition: all 0.5s; }
        .header .menu-right .menu-ul .span-line span:first-of-type {
          transform: translateY(-14px); }
        .header .menu-right .menu-ul .span-line span:last-of-type {
          transform: translateY(14px); }
    .header .menu-right .menu-ul.active .span-line span {
      transform: rotate(45deg); }
    .header .menu-right .menu-ul.active .span-line span:last-of-type {
      transform: rotate(135deg); }

.drawer {
  transform: translateY(-100%);
  background-color: white;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.5s; }

.drawer.active {
  height: 100vh;
  transform: translateY(0); }

.top-carousel {
  position: relative;
  overflow: hidden;
  width: 100%; }
  .top-carousel:before, .top-carousel:after {
    content: "";
    position: absolute;
    right: 0; }
  .top-carousel:before {
    content: "";
    border-top: 32.29vw solid #306cba;
    border-bottom: 0;
    border-left: 15.625vw solid transparent;
    border-right: 0; }
  .top-carousel:after {
    content: "";
    border-top: 0;
    border-bottom: 32.29vw solid rgba(58, 153, 237, 0.6);
    border-right: 0;
    border-left: 15.625vw solid transparent;
    bottom: 0; }
  .top-carousel img {
    width: 100%;
    display: block; }
  .top-carousel .title {
    position: absolute;
    top: 56%;
    left: 9%; }
    .top-carousel .title h2 {
      color: white;
      font-size: 10rem;
      font-family: "A1 Mincho"; }
      .top-carousel .title h2 span {
        font-size: 3.2rem;
        font-family: "BaronNeue";
        display: block;
        font-weight: normal;
        letter-spacing: 20px; }

.message {
  position: relative;
  overflow: hidden; }
  .message .layer-mess {
    position: absolute;
    height: 56.125vw;
    width: 15.625vw;
    right: 0;
    z-index: -1; }
    .message .layer-mess .mess-bg {
      position: absolute;
      top: 100%;
      border-top: 32.29vw solid #f4e8b3;
      border-bottom: 0;
      border-left: 15.625vw solid transparent;
      border-right: 0; }
    .message .layer-mess:before, .message .layer-mess:after {
      content: "";
      position: absolute;
      right: 0; }
    .message .layer-mess:before {
      content: "";
      border-top: 32.29vw solid #b9be4f;
      border-bottom: 0;
      border-left: 15.625vw solid transparent;
      border-right: 0; }
    .message .layer-mess:after {
      content: "";
      border-top: 0;
      border-bottom: 32.29vw solid rgba(235, 204, 33, 0.8);
      border-right: 0;
      border-left: 15.625vw solid transparent;
      bottom: 0; }
  .message .block-mess {
    background-image: url(../images/bg-global.png);
    background-repeat: no-repeat;
    background-position: top center;
    max-width: 1160px;
    width: 100%;
    margin: auto;
    padding: 100px 0;
    margin-top: 30px; }
    .message .block-mess .recruit-span {
      display: block;
      color: #296bc1;
      font-size: 2rem;
      font-family: "BaronNeue";
      margin-bottom: 20px; }
  .message .mess-main {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between; }
    .message .mess-main .left {
      width: 50%; }
      .message .mess-main .left .title {
        max-width: 580px;
        width: 100%;
        font-size: 3.2rem;
        color: #3671c4;
        font-weight: bold; }
      .message .mess-main .left .text p {
        max-width: 500px;
        width: 100%;
        color: #333333; }
    .message .mess-main .right {
      max-width: 480px;
      width: 50%;
      position: relative;
      min-height: 370px; }
      .message .mess-main .right img {
        position: absolute; }
      .message .mess-main .right img:first-of-type {
        top: 0;
        left: 30px; }
      .message .mess-main .right img:last-of-type {
        bottom: 0; }
      .message .mess-main .right img:nth-child(2) {
        right: 0;
        top: 65px; }
  .message .block-data-content {
    margin: auto;
    max-width: 990px;
    width: 100%;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    text-align: center; }
    .message .block-data-content .content {
      position: relative;
      width: 33.33%; }
      .message .block-data-content .content .img {
        height: 203px; }
        .message .block-data-content .content .img img {
          margin: auto; }
      .message .block-data-content .content .title {
        font-size: 3.1rem;
        color: #3671c4;
        margin-top: 10px; }
      .message .block-data-content .content .number {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        color: #3671c4; }
        .message .block-data-content .content .number .num {
          font-size: 8rem;
          font-family: "BaronNeue"; }
        .message .block-data-content .content .number .text {
          font-size: 3.1rem;
          font-family: "Noto Sans JP", sans-serif; }
  .message .company .company-content {
    margin: auto;
    max-width: 1260px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 130px; }
    .message .company .company-content .left {
      padding-bottom: 50px;
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      width: 50%; }
      .message .company .company-content .left .img {
        max-width: 580px;
        width: 100%; }
        .message .company .company-content .left .img img {
          width: 100%; }
      .message .company .company-content .left .img-layer {
        bottom: 0;
        left: 0;
        position: absolute;
        z-index: -1;
        max-width: 580px;
        width: 100%;
        height: 400px;
        background-image: linear-gradient(to right, #3a9ede, #3671c4); }
    .message .company .company-content .right {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .message .company .company-content .right .content .title {
        font-weight: normal;
        font-size: 6rem;
        color: #3671c4;
        font-family: "BaronNeue"; }
        .message .company .company-content .right .content .title span {
          margin-top: 25px;
          font-size: 2rem;
          font-family: "Noto Sans JP", sans-serif;
          display: block; }
      .message .company .company-content .right .content .text {
        max-width: 305px;
        width: 100%;
        color: #333333;
        font-size: 1.6rem;
        margin-top: 20px; }

.work .title {
  padding: 111px 0 55px 0;
  text-align: center;
  color: #3671c4;
  font-size: 6rem;
  font-family: "BaronNeue"; }
  .work .title span {
    font-size: 2rem;
    font-family: "Noto Sans JP", sans-serif;
    display: block;
    margin-top: 20px; }

.work .work-content {
  display: flex;
  justify-content: space-between; }
  .work .work-content .content {
    position: relative;
    width: 100%; }
    .work .work-content .content img {
      width: 100%;
      max-width: 100%; }
    .work .work-content .content h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
      color: white;
      font-size: 2.5rem;
      font-weight: normal; }

.work .btn-auto {
  margin-bottom: 123px;
  margin-top: 67px; }

.people .content-peple {
  position: relative;
  width: 100%;
  float: right;
  display: flex;
  padding-bottom: 51px;
  justify-content: flex-end; }
  .people .content-peple .left {
    position: absolute;
    width: calc(50% - 180px);
    bottom: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    z-index: 4; }
    .people .content-peple .left .title {
      font-size: 6rem;
      color: #3671c4;
      font-family: "BaronNeue";
      font-weight: normal; }
      .people .content-peple .left .title span {
        display: block;
        font-size: 2rem;
        font-family: "Noto Sans JP", sans-serif; }
    .people .content-peple .left .left-content {
      padding: 15% 17% 9% 0; }
  .people .content-peple .right {
    position: relative;
    max-width: calc(50% + 320px);
    width: 100%; }
    .people .content-peple .right .img {
      width: 100%; }
      .people .content-peple .right .img img {
        width: 100%; }
    .people .content-peple .right .layer {
      position: absolute;
      width: 100%;
      left: -55px;
      top: 51px;
      z-index: -1;
      height: 100%;
      background-image: linear-gradient(to right, #3670c4, #3999ed); }

.discuss {
  max-width: 850px;
  width: 100%;
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
  position: relative; }
  .discuss .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(to right, #cbc746, #cbc746, #cbc746, transparent); }
  .discuss .left {
    display: flex;
    align-items: center;
    z-index: 2; }
    .discuss .left .title {
      font-size: 3rem;
      padding-left: 70px;
      color: white; }
  .discuss .right {
    position: relative; }
    .discuss .right img {
      width: 100%; }

.promote {
  background-image: linear-gradient(to right, #3670c4, #3999ed); }

.promote-content {
  padding: 95px 0;
  display: flex;
  justify-content: space-between; }
  .promote-content .block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    .promote-content .block h2.title {
      color: white;
      font-weight: normal;
      position: absolute;
      top: 50%;
      font-size: 2rem;
      left: 50%;
      transform: translate(-50%); }
    .promote-content .block img {
      width: 100%; }

.recruit {
  padding: 82px 0 62px 0;
  background-image: url(../images/bg-city.png);
  background-position: center;
  background-size: cover; }
  .recruit .title {
    text-align: center;
    font-size: 5rem;
    color: #3671c4;
    padding-bottom: 30px;
    font-family: "BaronNeue";
    font-weight: normal; }
    .recruit .title span {
      font-size: 2rem;
      display: block;
      font-family: "Noto Sans JP", sans-serif; }
  .recruit .btn-a {
    margin: auto;
    margin-top: 45px; }
  .recruit .content {
    background-image: linear-gradient(to right, #3999ed, #3670c4);
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .recruit .content span {
      color: white;
      font-size: 2rem; }
    .recruit .content .block {
      max-width: 350px;
      width: 100%; }
      .recruit .content .block h3 {
        text-align: center;
        color: white;
        font-weight: normal;
        font-size: 2.5rem; }
    .recruit .content .block-right {
      max-width: 736px;
      width: 100%;
      padding: 0 49px;
      display: flex;
      justify-content: space-between; }
    .recruit .content .block-bd {
      max-width: 302px;
      width: 100%;
      margin: 52px 0;
      border: 2px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 22px 0; }
    .recruit .content .block-bd:first-of-type {
      margin-right: 20px; }

.news {
  padding: 70px 0;
  position: relative; }
  .news .layer {
    position: absolute;
    z-index: -1;
    width: calc(50% - 370px);
    top: 0;
    left: 0;
    height: 100%;
    background-image: linear-gradient(to bottom, #3670c4, #3999ed); }
  .news .title-block {
    float: right;
    max-width: 840px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .news .title-block .title {
      font-size: 5rem;
      color: #3671c4;
      font-weight: normal;
      font-family: "BaronNeue"; }
      .news .title-block .title span {
        display: block;
        font-size: 2rem;
        color: #333333;
        font-family: "Noto Sans JP", sans-serif; }
    .news .title-block .btn-a {
      margin: auto 0; }
  .news .content {
    display: flex;
    justify-content: space-between; }
    .news .content ul li {
      list-style: none;
      height: unset; }
    .news .content ul li.hide {
      height: 0;
      padding: 0; }
  .news .block-left {
    display: flex;
    align-items: center; }
    .news .block-left ul li {
      cursor: pointer;
      color: white;
      font-size: 2rem;
      padding-bottom: 30px; }
    .news .block-left ul li:first-of-type {
      position: relative; }
      .news .block-left ul li:first-of-type:after {
        position: absolute;
        height: 2px;
        width: 40px;
        background-color: white;
        top: 25%;
        right: -50px;
        content: ""; }
  .news .block-right li {
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
    transition: all 0.5s;
    padding: 30px 0; }
    .news .block-right li a {
      color: #333333; }
  .news .block-right .text {
    letter-spacing: -1px;
    margin-right: 20px; }
  .news .block-right .arrow {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #0148c3;
    border-right: 2px solid #0148c3;
    transform: rotate(45deg);
    margin-right: 25px; }
  .news .block-right .date {
    font-weight: bold;
    margin-right: 22px; }
  .news .block-right .color {
    display: inline-block;
    text-align: center;
    width: 110px;
    color: white;
    margin-right: 25px; }
  .news .block-right .ocean {
    background-color: #3db6e5; }
  .news .block-right .yellow {
    background-color: #e3c642; }
  .news .block-right .green {
    background-color: #9abd57; }

.entry-future {
  max-height: 323px;
  background-image: url(../images/img-city-purple.png); }
  .entry-future .content {
    padding: 100px 0;
    display: flex;
    justify-content: space-between; }
    .entry-future .content .block {
      color: white;
      display: flex;
      justify-content: space-between; }
      .entry-future .content .block span.entry {
        font-size: 2.5rem;
        font-family: "BaronNeue"; }
      .entry-future .content .block .title {
        font-size: 4.7rem;
        font-family: "A1 Mincho";
        font-weight: normal; }
        .entry-future .content .block .title span {
          font-size: 1.6rem;
          display: block;
          font-family: "BaronNeue";
          letter-spacing: 9.5px; }
      .entry-future .content .block .btn-entry {
        background-image: linear-gradient(to right, transparent, transparent);
        border: 2px solid white;
        margin: auto;
        margin-right: 20px; }

.footer {
  background-color: #0c2342; }
  .footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer .footer-content .block {
      display: flex;
      align-items: center;
      height: 65px; }
    .footer .footer-content span {
      color: white; }
    .footer .footer-content .block:first-of-type span:first-of-type {
      margin-right: 50px; }

@media screen and (max-width: 1024px) {
  .title {
    font-size: 2.5rem !important; }
  .m-20 {
    padding: 0 20px; }
  .header {
    height: 100px; }
    .header .logo {
      width: 250px; }
    .header .menu-right .entry {
      width: 150px; }
      .header .menu-right .entry .text span {
        font-size: 2rem; }
    .header .menu-right .menu-ul {
      width: 100px; }
      .header .menu-right .menu-ul .span-line {
        width: 35px; }
  .top-carousel .title h2 {
    font-size: 5rem; }
    .top-carousel .title h2 span {
      font-size: 2rem;
      letter-spacing: 7px; }
  .message .mess-main .left {
    width: 100%; }
    .message .mess-main .left .title {
      margin-bottom: 20px; }
    .message .mess-main .left .btn-a {
      margin: 30px auto; }
  .message .mess-main .right {
    position: static;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    min-height: unset; }
    .message .mess-main .right img {
      position: static;
      height: unset; }
  .message .block-data-content {
    flex-wrap: wrap; }
    .message .block-data-content .content {
      width: 100%;
      margin-bottom: 30px; }
  .work .work-content {
    flex-wrap: wrap; }
    .work .work-content .content {
      width: 100%; }
      .work .work-content .content img {
        max-width: 500px;
        margin: auto; }
  .people .content-people .left {
    position: static; } }
