$blue-soft: #3a9ede;
$blue-hard: #277fc4;
$blue: #0148c3;
$blue-text: #3671c4;
$blue-text-2: #296bc1;
$blue-bg: #306cba;
$black: #333333;
$yellow: #f1ce38;
$green: #98bd58;

$blue-rbg: rgba(39, 128, 196, 0.769);
