$blue-soft: #3a9ede;
$blue-hard: #277fc4;
$blue-linear: #3999ed;
$blue-hard-linear: #3670c4;
$blue-dark: #0c2342;
$blue-span: #3db6e5;
$blue: #0148c3;
$blue-text: #3671c4;
$blue-text-2: #296bc1;
$blue-bg: #306cba;
$black: #333333;
$yellow: #f1ce38;
$yellow-linear: #cbc746;
$yellow-span: #e3c642;
$green: #98bd58;
$green-span: #9abd57;
$green-bg: #b2bc51;
$green-bg-1: #92b75d;
$blue-rbg: rgba(39, 128, 196, 0.769);
$yellow-rbg: rgba(212, 181, 40, 0.749);
$grey: #cccccc;
// font-family: "Noto Sans JP", sans-serif;
